body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e3e8e1; /* soft green background like screenshot */
  }
  
.app {
    display: flex;
    height: 100vh;
  }
  
  
.sidebar {
    width: 300px;
    background: #f1f2f0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
  }
  
.menu-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
.search-box input {
    background-color: #f4f6f3;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    width: 220px;
  }
  
.sidebar-section {
    margin-bottom: 25px;
  }
  
.sidebar-section h4 {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 10px;
  }
  
.sidebar-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-section ul li {
    padding: 8px 0;
    font-size: 14px;
    color: #444;
    cursor: pointer;
  }

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  
.tag {
    padding: 6px 20px;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    font-weight: 500;
}
  
.tag-blue {
    background: #d8eef4;
    color: #3b6b79;
}
  
.tag-pink {
    background: #f3d9dc;
    color: #7b4a4f;
}
  
.tag-add {
    background: #e9e9e9;
    color: #555;
    border: 1px #bbb;
}
  
.tag:hover {
    opacity: 0.8;
  }
  
.sidebar-footer {
    margin-top: auto;
    font-size: 14px;
    color: #444;
  }
  
.sidebar-footer p {
    margin: 10px 0;
    cursor: pointer;
  }
  
  
.main-content {
    flex: 1;
    background: #f9faf8;
    padding: 40px;
    border-radius: 20px 0 0 20px;
  }
  
.board-title {
    margin-top: 0;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 25px;
  }
  
.note {
    padding: 20px;
    background: white;
    border-radius: 15px;
    min-height: 180px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
.note h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
.note ul {
    margin: 0;
    padding-left: 20px;
  }
  
.note[data-color="yellow"] {
    background: #fff4b8;
  }
  
.note[data-color="blue"] {
    background: #d7eef7;
  }
  
.note[data-color="pink"] {
    background: #f6dfe2;
  }
  
.note[data-color="orange"] {
    background: #ffdfc1;
  }
  
.add-note {
    background: #f1f2f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #999;
    cursor: pointer;
  }
  
.delete-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #444;
    margin-top: 75px;
  }
  
.delete-btn:hover {
    color: rgb(237, 81, 81);
  }
  