input {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 5px 0 2px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
input:invalid {
    border-color: red;
  }
  
input:valid {
    border-color: green;
  }
  
.error {
    color: red;
    font-size: 0.9em;
}
  
#formMessage {
    font-weight: bold;
    margin-top: 10px;
    color: green;
}
  
button {
    border: none;
    background: #ff4d4d;
    color: white;
    font-size: 1rem;
    padding: 8px 16px;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
button:hover {
    background: #c42424;
  }
  

@media (max-width: 480px) {
    input {
      max-width: 100%;
      font-size: 0.95rem;
      padding: 8px;
}
  
button {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border-radius: 25px;
    }
 }
  