input {
    display: block;
    margin: 5px 0 2px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
input:invalid {
    border-color: red;
  }
  
input:valid {
    border-color: green;
}
  
.error {
    color: red;
    font-size: 0.9em;
}
  
#formMessage {
    font-weight: bold;
    margin-top: 10px;
    color: green;
}

button {
    border: none;
    background: #ff4d4d;
    color: white;
    font-size: 15px;
    padding: 3px 7px;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.delete-btn:hover {
    background: #c42424;
  }
  
